@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
body{
    font-size: 100%;
}

.imgLogo{
    display: flex;
    width: 25%;
    justify-content: center;
    
}

.slideshow-container{
    display: flex;
    justify-content: center;
    margin-top: 50%;
}
/* .estilizarCarrosel1{
    display: flex;
    justify-content: center;
} */

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* height: 5%; */
    width: 100%;
    background: red;
}
.imgLogo{
    /* height: 100px; */
    width: 18vh;
    margin-right: 15%;
    justify-content: space-evenly;
}
.cabecalho-menu{
    display: flex;
    gap: 35px;
    margin-left: auto;
    margin-right: 5%;
   
}
.cabecalho-menu a{
    color: white;
}
.card1{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}.card1 img{
    display: flex;
    width: 100vh;
}
.card1 p{
    width: 95%;
    font-size: larger;
}
.card1 h2{
    text-align: center;
    margin-bottom: 10px;
    color: red;
}
.card2{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}
.card2 p{
    width: 95%;
    font-size: larger;
}
.brasil {
    margin-left: 10%;
    
}
.card2 h2{
    text-align: center;
    margin-bottom: 10px;
    color: yellowgreen;
}
.card3{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}
.card3 p{
    width: 95%;
}
.card3 h2{
    text-align: center;
    margin-bottom: 10px;
    color: darkred;
}
.card3 img{
    margin-left: 125px;
}
.conteudo{
    display: flexbox;
    margin-top: 10%;
    align-items: center;
}
.card4{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15%;

}
.card4 h2{
    color: blue;
    display: flex;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 10%;
    background-color: black;
}
.footerGit{
    display: flex;
    justify-content: flex-end;
    width: 5%;
}
.footerGit a{
    display: inline-block;
}
.logoBranca{
    display: flex;
    justify-content: flex-start;
    width: 10%;
}

























.footerContato{
    margin-top: 30%;
}