@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
body{
    font-size: 100%;
}

.imgLogo{
    display: flex;
    width: 25%;
    justify-content: center;
    width: 18vh;
    margin-right: 15%;
    justify-content: space-evenly;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* height: 5%; */
    width: 100%;
    background: red;
}
.cabecalho-menu{
    display: flex;
    gap: 35px;
    margin-left: auto;
    margin-right: 5%;
   
}
.cabecalho-menu a{
    color: white;
}
.sessao1{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.sessao1 p{
    width: 95%;
    font-size: larger;
    margin-left: 5%;
}
.sessao1 h2{
    text-align: center;
    margin-bottom: 10px;
    color: yellowgreen;
}

.sessao2{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 25%;
}
.sessao2 p{
    width: 95%;
    font-size: larger;
    margin-left: 7%;

}
.sessao2 h2{
    text-align: center;
    margin-bottom: 10px;
    color: yellowgreen;
}

.sessao3{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 25%;
}
.sessao3 p{
    width: 95%;
    font-size: larger;
    margin-left: 7%;

}
.sessao3 h2{
    text-align: center;
    margin-bottom: 10px;
    color: yellowgreen;
}